<div class="mt-4">
  <div class="row">
    <form method="POST" action="store">
      <div class="col-lg-12"><h3>Đăng khóa học</h3></div>
      <div class="mb-3">
        <label for="name" class="form-label">Tên Khóa học</label>
        <input type="text" class="form-control" id="name" name="name"/>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="description" name="description" />
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" />
      </div>
      <div class="mb-3">
        <label for="videoId" class="form-label">Video</label>
        <input type="text" class="form-control" id="videoId" name="videoId"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>